<div class="container">
    <div class="row col">
      <div class="">
        <app-card 
        [title]="content[0].title" [underTitle]="content[0].underTitle"
        [description]="content[0].description"
        [link]="content[0].link"
        ></app-card>
      </div>
  
      <app-card 
      [title]="content[1].title" [underTitle]="content[1].underTitle"
      [description]="content[1].description"
      [link]="content[1].link"
      ></app-card>
  
      <app-card 
      [title]="content[2].title" [underTitle]="content[2].underTitle"
      [description]="content[2].description"
      [link]="content[2].link"
      ></app-card>
      
      <app-card 
      [title]="content[3].title" [underTitle]="content[3].underTitle"
      [description]="content[3].description"
      [link]="content[3].link"
      ></app-card>
  
    </div>
  </div>
  
