<div 
    (click)="clickable && navigateToPokemonDetails(pokemon.pokedexId)" 
    class="max-w-sm rounded overflow-hidden shadow-lg border border-emerald-500 my-2"
    [ngClass] = "{'hover:border-emerald-700 hover:shadow-xl hover:cursor-pointer': clickable}"
    > 
    <!-- [class.hover:border-emerald-700]="clickable"
    [class.hover:shadow-xl]="clickable"
    [class.hover:cursor-pointer]="clickable" -->
    <div class="flex justify-between m-2">
      <div class="font-bold">{{ pokemon.name }}</div>
      <div class="flex gap-2 justify-center items-center">
        <span *ngIf="pokemon.stats" class="font-bold">{{ pokemon.stats.hp }} PV</span>
        <ng-container *ngIf="pokemon.types">
          <span class="flex gap-0.5">
            <img *ngFor="let type of pokemon.types" class="w-[16px] h-[16px]" [src]="type.image">
          </span>
        </ng-container>
      </div>
    </div>
    <img class="w-full max-w-[250px]" [src]="pokemon.sprite" >
  </div>